In [2]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import pandas as pd

In [3]:
s = pd.Series(np.random.randint(0,7,size=10))
s

0    2
1    6
2    3
3    2
4    2
5    5
6    0
7    1
8    0
9    3
dtype: int32

In [4]:
s.value_counts()

2    3
3    2
0    2
6    1
5    1
1    1
Name: count, dtype: int64

In [5]:
ss = pd.Series(['A','B','C','AaBb',np.nan,'Bb','aA','Aa','bB',2])
sss = ss.str.lower()

In [6]:
rand_df = pd.DataFrame()
rand_df['1'] = s
rand_df['2'] = ss
rand_df['3'] = sss

In [7]:
rand_df

   1     2     3
0  2     A     a
1  6     B     b
2  3     C     c
3  2  AaBb  aabb
4  2   NaN   NaN
5  5    Bb    bb
6  0    aA    aa
7  1    Aa    aa
8  0    bB    bb
9  3     2   NaN

In [8]:
df_random = pd.DataFrame(np.random.randn(40,5))
df_random.head()

          0         1         2         3         4
0  0.508591 -1.325022 -0.086200  0.593199 -0.487489
1  1.191067 -0.378518 -0.428031 -1.304847  0.037794
2  1.736281 -1.764031  0.590856  0.264732 -1.292118
3 -0.880737  0.562019  0.727996  0.438317  0.156629
4 -1.138991 -1.475885  0.937632 -1.208987 -0.003501

In [9]:
df_random.mean()

0    0.066281
1   -0.149635
2   -0.180803
3   -0.055000
4   -0.146986
dtype: float64

In [10]:
left = pd.DataFrame({'key': ['foot1', 'foot2', 'foot3'], 'lvalue': [1,3,5]})
left2 = pd.DataFrame({'key': ['foot1', 'foot2', 'foot3'], 'l2value': [2,4,6]})
right = pd.DataFrame({'key': ['hand1', 'hand2', 'hand3'], 'rvalue': [2,4,6]})

In [11]:
pd.concat([left, right])

     key  lvalue  rvalue
0  foot1     1.0     NaN
1  foot2     3.0     NaN
2  foot3     5.0     NaN
0  hand1     NaN     2.0
1  hand2     NaN     4.0
2  hand3     NaN     6.0

In [13]:
print(pd.merge(left, left2, on='key'))

     key  lvalue  l2value
0  foot1       1        2
1  foot2       3        4
2  foot3       5        6