In [314]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import pandas as pd

In [317]:
s = pd.Series(np.random.randint(0,7,size=10))
s

0    5
1    6
2    6
3    4
4    1
5    6
6    0
7    0
8    0
9    0
dtype: int32

In [318]:
s.value_counts()

0    4
6    3
5    1
4    1
1    1
Name: count, dtype: int64

In [337]:
ss = pd.Series(['A','B','C','AaBb',np.nan,'Bb','aA','Aa','bB',2])
sss = ss.str.lower()

In [338]:
rand_df = pd.DataFrame()
rand_df['1'] = s
rand_df['2'] = ss
rand_df['3'] = sss

In [339]:
rand_df

   1     2     3
0  5     A     a
1  6     B     b
2  6     C     c
3  4  AaBb  aabb
4  1   NaN   NaN
5  6    Bb    bb
6  0    aA    aa
7  0    Aa    aa
8  0    bB    bb
9  0     2   NaN

In [341]:
df_random = pd.DataFrame(np.random.randn(40,5))
df_random.head()

          0         1         2         3         4
0 -1.379452 -1.360656 -0.210168  0.625051  0.101976
1 -0.810372 -1.031673  0.866679  0.359875  0.241385
2  0.877313 -2.533671  0.185126 -1.849927  0.268488
3  0.649098 -1.660317  0.327237  0.436013 -0.593032
4 -1.231067 -0.045187 -0.136855  1.192542 -3.169575

In [342]:
df_random.mean()

0   -0.154033
1   -0.144762
2    0.179506
3    0.181989
4    0.049421
dtype: float64

In [356]:
left = pd.DataFrame({'key': ['foot1', 'foot2', 'foot3'], 'lvalue': [1,3,5]})
left2 = pd.DataFrame({'key': ['foot1', 'foot2', 'foot3'], 'l2value': [2,4,6]})
right = pd.DataFrame({'key': ['hand1', 'hand2', 'hand3'], 'rvalue': [2,4,6]})

In [357]:
pd.concat([left, right])

     key  lvalue  rvalue
0  foot1     1.0     NaN
1  foot2     3.0     NaN
2  foot3     5.0     NaN
0  hand1     NaN     2.0
1  hand2     NaN     4.0
2  hand3     NaN     6.0

In [361]:
pd.merge(left, left2, on='key')

     key  lvalue  l2value
0  foot1       1        2
1  foot2       3        4
2  foot3       5        6